<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {margin:0;}

.navbar {
  overflow: hidden;
  background-color:  #4785c2;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: lightskyblue;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}
</style>
</head>
<body>

<div class="navbar">
  <a href="{{ url_for('home') }}">Home</a>
  <a href="{{ url_for('addnew') }}">Add New Song</a>
  <a href="{{ url_for('top100') }}">Top 100 Songs</a>
  <a href="{{ url_for('topartist') }}">Top Artists</a>
</div>

<div class="main">
<br>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <h1>Top 100 Songs</h1>
    <br>
    {% for table in tables %}
      {{ table|safe }}
    {% endfor %}
</div>

</body>
</html>
